nav a {
    text-decoration: none;
    padding: 20px;
    color: black;
}

nav a:hover{
    color: gray;
}

nav{
    /* position: absolute; */
    float: right;
}

body img{
    width: 100%;
    height: auto;
    /* position: absolute; */
}

body p{
    padding: 30px;
}